/* Tipografias */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    font-family: 'Space Grotesk', sans-serif;
    background-color: rgb(0, 32, 0);
    padding-top: 80px;
}

h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 30px 0px;
}

img{
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    height: 70px;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(0, 32, 0);
    border-bottom: solid 1px rgba(255, 255, 255, 0.411);
}

.logo{
    width: 58px;
    height: auto;
}

.verCarrito{
    width: 45px;
    height: auto;
    position: absolute;
    top: 14px;
    cursor: pointer;
}

.shopContent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
}

.shopContent>div{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: rgb(7, 43, 7);
    border-radius: 20px;
}


.informacion{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.informacion>p:first-child{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: 800;
}

.informacion .precio{
    font-size: 1.3rem;
    font-weight: 300;
}

.card button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(7, 43, 7);
    width: 100%;
    height: 35px;
    border: solid 2px  rgba(255, 255, 255, 0.411);
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
}

.card button:hover{
    background-color: rgb(33, 194, 33);
}

/*Estilos para el Modal*/

.modal-container{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
    font-family: 'Montserrat', sans-serif;
}

.modal-container::-webkit-scrollbar{
    display: none;
}

.modal-header{
    display: flex;
    justify-content: space-around;
    background-color: #0a0909;
    color: #fff;
    width: 100%;
}

.modal-header-title {
    justify-self: start;
}

.modal-header-button{
    cursor: pointer;
}

.modal-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 10px;
}

.modal-content .modal-content-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 330px;
}

.modal-content .modal-content-cantidades{
    display: flex;
    justify-content: space-evenly;
    width: 330px;
}

.modal-content .modal-footer{
    display: flex;
    flex-direction: column;
}

.modal-container > div > img{
    height: 120px;
    width: 120px;
}

.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

.delete-product{
    cursor: pointer;
    color: red;
}

.cantidadCarrito{
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 14px;
    padding: 4px;
    display: none;
}

.sumar{
    cursor: pointer;
}

.restar{
    cursor: pointer;
}

.modal-container .total-content .modal-footer .vaciar-carrito{
    margin-top: 15px;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #cc576a;
    background: #cc576a;
}

.modal-container .total-content .modal-footer .vaciar-carrito:hover {
        background: #fff;
        color: #cc576a
}

.modal-container .total-content .modal-footer .checkout{
    margin-top: 15px;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #57cc88;
    background: #57cc88;
}

.modal-container .total-content .modal-footer .checkout:hover {
        background: #fff;
        color: #57cc88
}

